In [1]:
import pandas as pd

In [2]:
lit_df = pd.read_excel("all_lit_data.xlsx", index_col="ID")

In [3]:
lit_df.columns

Index(['Unnamed: 0', 'Description', 'Cte', 'Cti', 'MT', 'ML', 'PA', 'PR',
       'Brookite ', 'CA', 'CR', 'SA', 'BG', 'g', 'umol/hr', 'cm3/g.cathr',
       'HY', 'Unnamed: 18', 'C', 'LV', 'AT', 'AC', 'RT', 'LT', 'LP',
       'Lamp info', 'SG', 'LI', 'LI in Einstein', 'IA', 'AcP', 'ApP',
       'Rate of evolution', 'Unit for rate', 'Rate (molecules/s)',
       'Photonic efficiency', 'Apparent quantum efficiency', 'Discription',
       'Synthesis', 'Catalyst synthesis method', 'Activity promotaion method',
       'Promotion', 'PC', 'PO', 'PD', 'MEN', 'MAN', 'MWF', 'AMW', 'Rate',
       'ATI'],
      dtype='object')

In [4]:
lit_df["Synthesis"]

ID
AA01     Com
AA02      SG
AB01      HT
AB02      HT
AB03      HT
        ...
ABJ02     HT
ABJ03     HT
ABJ04     HT
ABJ05    Com
ABJ06     HT
Name: Synthesis, Length: 927, dtype: object

In [5]:
lit_df.Synthesis.value_counts().to_excel("Synthesis_hist.xlsx")

In [25]:
df = pd.read_excel("main_model_predictions_data.xlsx", index_col="ID")

In [86]:
df.Rate.mean(), df.Rate.std()

(166.5315843660494, 272.154410211627)

In [84]:
df[df.dataset == "Train"][df.AT == "methanol"][["ML", "MWF", "AC", "ATI", "AcP", "Rate"]].describe()

C:\Users\z5326694\AppData\Local\Temp/ipykernel_20364/1666006328.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.dataset == "Train"][df.AT == "methanol"][["ML", "MWF", "AC", "ATI", "AcP", "Rate"]].describe()

,ML,MWF,AC,ATI,AcP,Rate
count,95.000000,95.000000,95.000000,9.500000e+01,9.500000e+01,95.000000
mean,0.015285,4.953158,0.280484,9.624186e-01,2.544926e+17,267.724444
std,0.010775,0.624344,0.296718,1.116113e-16,2.872556e+17,415.836480
min,0.000000,0.000000,0.010000,9.624186e-01,4.917126e+16,9.523810
25%,0.005625,4.980000,0.100000,9.624186e-01,6.318385e+16,71.500000
50%,0.010000,5.060000,0.100000,9.624186e-01,6.401452e+16,111.150000
75%,0.021000,5.060000,0.400000,9.624186e-01,4.004000e+17,170.625000
max,0.048750,5.540000,1.000000,9.624186e-01,1.050343e+18,1543.653251

In [85]:
df[df.dataset == "Train"][df.AT == "ethanol"][["ML", "MWF", "AC", "ATI", "AcP", "Rate"]].describe()

C:\Users\z5326694\AppData\Local\Temp/ipykernel_20364/3217174881.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.dataset == "Train"][df.AT == "ethanol"][["ML", "MWF", "AC", "ATI", "AcP", "Rate"]].describe()

,ML,MWF,AC,ATI,AcP,Rate
count,170.000000,170.000000,170.000000,1.700000e+02,1.700000e+02,170.000000
mean,0.013046,4.892235,0.460941,2.192748e-01,7.828813e+16,142.640278
std,0.013281,0.874931,0.356492,2.783757e-17,7.181969e+16,253.444881
min,0.000000,0.000000,0.010000,2.192748e-01,4.917126e+16,2.600000
25%,0.005000,4.980000,0.100000,2.192748e-01,6.216598e+16,41.992241
50%,0.010000,5.060000,0.410000,2.192748e-01,6.248933e+16,75.691379
75%,0.020000,5.060000,0.800000,2.192748e-01,6.318385e+16,151.287500
max,0.100000,5.540000,1.000000,2.192748e-01,4.004000e+17,1390.209790

In [89]:
df[df.MT == "Pt"][["ML", "MWF", "AC", "ATI", "AcP", "Rate"]].describe()

,ML,MWF,AC,ATI,AcP,Rate
count,42.000000,4.200000e+01,42.000000,42.000000,4.200000e+01,42.000000
mean,0.018542,5.540000e+00,0.337762,0.200277,3.352436e+17,819.456421
std,0.006852,8.989446e-16,0.294917,0.997377,2.127811e+17,585.263840
min,0.010000,5.540000e+00,0.049000,-2.154719,4.917126e+16,40.751748
25%,0.010000,5.540000e+00,0.100000,0.219275,6.262812e+16,173.225000
50%,0.021000,5.540000e+00,0.245000,0.219275,4.004000e+17,1101.990723
75%,0.021000,5.540000e+00,0.542500,0.962419,4.004000e+17,1322.947570
max,0.040000,5.540000e+00,0.980000,0.962419,9.976881e+17,1543.653251

In [90]:
df[df.MT == "Pd"][["ML", "MWF", "AC", "ATI", "AcP", "Rate"]].describe()

              ML    MWF    AC        ATI           AcP        Rate
count  34.000000  34.00  34.0  34.000000  3.400000e+01   34.000000
mean    0.006507   5.06   0.1  -0.374385  1.247245e+17  189.537654
std     0.003105   0.00   0.0   1.072695  1.876502e+17   71.921030
min     0.001250   5.06   0.1  -2.154719  4.932953e+16   27.950000
25%     0.005000   5.06   0.1  -0.671785  4.977140e+16  142.422847
50%     0.005000   5.06   0.1  -0.170207  6.216598e+16  201.175000
75%     0.009063   5.06   0.1   0.219275  6.216598e+16  246.350000
max     0.016250   5.06   0.1   0.962419  9.055288e+17  308.750000

In [91]:
df[df.MT == "Au"][["ML", "MWF", "AC", "ATI", "AcP", "Rate"]].describe()

,ML,MWF,AC,ATI,AcP,Rate
count,189.000000,1.890000e+02,189.000000,189.000000,1.890000e+02,189.000000
mean,0.016500,5.060000e+00,0.354392,-0.331409,7.189542e+16,119.866041
std,0.011685,8.905375e-16,0.337864,1.055732,9.412320e+16,59.368382
min,0.001000,5.060000e+00,0.010000,-2.154719,4.917126e+16,2.600000
25%,0.007500,5.060000e+00,0.100000,-0.671785,6.216598e+16,66.300000
50%,0.020000,5.060000e+00,0.100000,0.219275,6.318385e+16,126.750000
75%,0.020000,5.060000e+00,0.800000,0.219275,6.318385e+16,161.850000
max,0.100000,5.060000e+00,1.000000,0.962419,1.050343e+18,324.350000

In [62]:
df[df.dataset == "Train"][df.MT == "Pt"].Rate.std()

C:\Users\z5326694\AppData\Local\Temp/ipykernel_20364/227558440.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.dataset == "Train"][df.MT == "Pt"].Rate.std()

585.263840457889

In [69]:
df[df.dataset == "Train"][df.MT == "Pd"].Rate.describe()

C:\Users\z5326694\AppData\Local\Temp/ipykernel_20364/1334092353.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.dataset == "Train"][df.MT == "Pd"].Rate.describe()

count     33.000000
mean     191.144856
std       72.413463
min       27.950000
25%      160.191388
50%      202.150000
75%      248.300000
max      308.750000
Name: Rate, dtype: float64

In [95]:
import numpy as np
from scipy.stats import skew

In [104]:
skew(df[df.dataset == "Test"].error)

-0.8322026482471598

In [103]:
df.Rate.describe()

count     481.000000
mean      166.531584
std       272.154410
min         2.600000
25%        56.550000
50%       107.250000
75%       157.950000
max      1543.653251
Name: Rate, dtype: float64

In [124]:
((30*792)/(1000*32.04)) / ( ((30*792)/(1000*32.04)) + ((20*997)/(1000*18.04)) )

0.4015242977101811

In [121]:
shap_data = pd.read_excel("shape_partial_dependence_AC.xlsx")

Unnamed: 0     1903.000000
AC                0.999558
mean_Rate       187.496677
std_Rate        463.174527
min_Rate          5.723627
max_Rate       1541.853777
median_Rate     127.918783
dtype: float64

In [120]:
df.Rate.max()/shap_data.mean_Rate.max()

6.0336329495385685

In [2]:
df = pd.read_excel("final_comparing.xlsx")

In [3]:
from sklearn import metrics

In [9]:
metrics.mean_squared_error(
    y_true=df.Rate,
    y_pred=df.acp_rate,
    squared=False
)

18.710067467214493

In [10]:
df.Rate.max()

1526.93498452012

In [21]:
(75 * (313/350)) / (139/1527)

In [23]:
metrics.mean_absolute_error(
    y_true=df[df.AT == "glycerol"].Rate,
    y_pred=df[df.AT == "glycerol"].Rate
)

,ID,ML,MWF,AC,ATI,Rate,source,AcP,MT,AT,no_acp_rate,acp_rate,ApP_Rate_predictions,LI_Rate_predictions
24,ABC32,0.0210,5.54,0.65,-2.154719,1047.678019,Lit,4.004000e+17,Pt,glycerol,1147.093302,1047.678019,976.813870,1190.124268
31,AAZ63,0.0100,4.53,1.00,-2.154719,12.350000,Lit,6.401452e+16,Cu,glycerol,72.700033,32.627235,-11.981938,-43.442902
38,ABG08,0.0150,5.06,0.10,-2.154719,97.630000,Lit,6.057973e+16,Pd,glycerol,362.445473,97.630000,152.457741,157.657318
39,ABG07,0.0150,5.06,0.10,-2.154719,100.815000,Lit,6.145627e+16,Pd,glycerol,362.445473,100.815000,152.457741,157.657318
40,ABG11,0.0150,5.06,0.10,-2.154719,138.970000,Lit,6.460552e+16,Pd,glycerol,362.445473,138.970000,152.457741,157.657318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,AAP164,0.0050,4.98,0.70,-2.154719,83.850000,Lit,6.318385e+16,Ni,glycerol,116.092890,83.850000,73.606361,66.767479
261,AAP48,0.0075,4.98,0.10,-2.154719,126.750000,Lit,6.318385e+16,Ni,glycerol,196.184882,151.981852,137.102213,122.504143
266,AAP158,0.0050,4.98,0.10,-2.154719,155.350000,Lit,6.318385e+16,Ni,glycerol,237.016204,162.175000,170.247642,162.545120
267,AAP178,0.0200,5.06,0.50,-2.154719,148.850000,Lit,6.318385e+16,Pd,glycerol,174.063060,148.850000,156.154020,137.105423
277,AAZ55,0.0100,4.53,0.30,-2.154719,122.850000,Lit,6.401452e+16,Cu,glycerol,215.845244,121.144317,114.183280,141.540558